

$calendar-border-color: #ddd;
$days-title-bg: #f4f4f4;
$weekend-color: #fb7b7b;
$current-day-border-color: #28af95;
$price-color: #2a8c80;
$specific-price-color: #ffc05c;
$specific-unbroken-color: #ff995b;
$availabilities-color: #f2f2f2;
$selected-color: #28af95;


.calendar-wrapper {
  border: 1px $calendar-border-color solid;
  margin: auto;
  //max-width: 800px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 12px;
  background: #fcfcfc;
  overflow: hidden;
}

.days-name-wrapper {
  background-color: $days-title-bg;
  text-transform: capitalize;
  box-shadow: 0 3px 7px -5px rgba(0,0,0,0.5);

  .day-name {
    position: relative;
    text-align: center;
    display: inline-block;
    width: calc(100% / 7);
    box-sizing: border-box;
    line-height: 42px;
    color: #acacac;

    &:not(:nth-child(7n)) {
      border-right: 1px $calendar-border-color solid;
    }
  }
}

.dates-wrapper {
  font-size: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 507px;
  width: 100%;
  position: relative;


  .dates-inner-wrapper {

  }
}

.date-wrapper {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% / 7);
  text-align: center;
  min-height: 93px;
  //border-bottom: 1px $calendar-border-color solid;
  user-select: none;
  cursor: default;
  z-index: 5;

  &::before {
    position: absolute;
    content: '';
    border-bottom: 1px $calendar-border-color solid;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  &:not(:nth-child(7n)) {
    &::after {
      position: absolute;
      content: '';
      border-right: 1px $calendar-border-color solid;
      height: 100%;
      top: 0;
      right: 0;
      z-index: 10;
    }
  }

  &:nth-child(7n),
  &:nth-child(7n-1),
  &:nth-child(7n-2),
  &:nth-child(7n-3) {
    .timepicker-wrapper {
      left: auto;
      right: 100%;
      box-shadow: -3px 5px 10px -4px rgba(0,0,0,0.5);
    }
  }

  &.opened {
    box-shadow: 0 5px 10px -3px rgba(0,0,0,0.5);
    background: #fff;
    z-index: 15;
  }

  &.selected {
    .fill-selected {
      opacity: 1;
    }

    .day-wrapper {
      color: #2e2e2e;

      &.weekend {
        color: #b54f4f;

        .day,
        .month {
          text-shadow: none;
        }
      }
    }
  }

  &.busy {
    .fill-selected {
      background: rgba(253, 0, 11, 0.34);
    }
  }

  .day-wrapper {
    position: absolute;
    size: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: #6a6c6f;
    top: 0;
    box-sizing: content-box;
    //transition: all 0.3s ease-out;

    &.weekend {
      color: $weekend-color;
    }

    &.current {
      &::before {
        position: absolute;
        content: '';
        size: 30px;
        padding: 6px;
        border: 1px $current-day-border-color solid;
        top: 50%;
        left: 50%;
        margin: -21px;
        border-radius: 5px;
        box-sizing: content-box;
        z-index: 20;
      }
    }

    .day {
      font-size: 20px;
      z-index: 10;
    }

    .month {
      font-size: 12px;
      z-index: 10;
    }

    .price {
      position: absolute;
      right: 0;
      top: -1px;
      font-size: 11px;
      color: $price-color;
      border: 1px $price-color solid;
      background: #fcfcfc;
      padding: 2px 6px;
      z-index: 15;
      border-radius: 0 0 0 5px;

      &.specific-price {
        text-decoration: line-through;
        opacity: 0.6;
      }

      &.ng-enter {
        transition: all 0.2s ease-out;
        opacity: 0;
        transform: scale(0);

        &.ng-enter-active {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}

.specific-rule {
  position: absolute;
  bottom: 5px;
  left: 0;
  size: calc(100% + 1px) 17px;
  z-index: 15;
  background: $specific-price-color;

  .specific-price {
    position: absolute;
    font-size: 12px;
    color: #fff;
    display: none;
    line-height: 17px;
    padding-left: 30px;
  }

  .glyphicon {
    display: none;
  }

  &.first {
    width: 95%;
    border-radius: 5px 0 0 5px;
    right: -1px;
    left: auto;

    .specific-price {
      display: block;
    }

    .glyphicon {
      position: absolute;
      display: block;
      font-size: 12px;
      top: 2px;
      left: 10px;
      color: #fff;

    }
  }

  &.last {
    width: 95%;
    border-radius: 0 5px 5px 0;
    left: 0;
  }

  &.unbroken {
    background: $specific-unbroken-color;
  }

  &.ng-enter {
    transition: all 0.2s ease-out;
    opacity: 0;
    transform: translateX(-100%);

    &.ng-enter-active {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.day-availability {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 1;
  background: $availabilities-color;

  &.ng-enter {
    transition: all 0.2s ease-out;
    opacity: 0;
    transform: translateX(-100%);

    &.ng-enter-active {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.timepicker-inner-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.timepicker-wrapper {
  position: absolute;
  border: 1px $calendar-border-color solid;
  border-left: none;
  color: #000;
  box-sizing: border-box;
  width: 200px;
  background: rgba(255,255,255,1);
  left: 100%;
  margin-top: -1px;
  margin-left: -1px;
  box-shadow: 3px 5px 10px -4px rgba(0,0,0,0.5);
  padding: 7px 10px 8px;
  transition: all 0.2s linear;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }

  &.ng-enter {
    transition: all 0.2s ease-out;
  }

  &.ng-leave {
    transition: all 0.1s ease-in;
  }

  &.ng-enter {
    overflow: hidden;
    max-width: 0;

    .timepicker-controlls-wrapper {
      padding-top: 0;
      margin-top: 0;
      max-height: 0;
      transition: all 0.1s ease-out 1s;
    }

    &.ng-enter-active {
      max-width: 250px;

      .timepicker-controlls-wrapper {
        padding-top: 5px;
        margin-top: 5px;
        max-height: 23px;
      }
    }
  }

  &.ng-leave {
    overflow: hidden;
    max-width: 250px;

    &.ng-leave-active {
      max-width: 0;
    }
  }

  .value-navigation-btn {
    position: relative;
    width: 100%;
    display: block;
    border-radius: 5px 5px 0 0;
    background: #f5f5f5;
    color: #6a6c6f;
    border: none;
    outline: 0;
    cursor: pointer;
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    line-height: 15px;

    &:hover {
      background: #e3e3e3;
    }

    &.down {
      transform: rotate(180deg);
    }
  }

  .time-value-wrapper {
    position: relative;
    size: 50px auto;
  }

  .time-value-separator {
    padding: 0 5px;
    line-height: 70px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
  }

  .time-value {
    display: block;
    border: 1px $calendar-border-color solid;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 0;
    outline: 0;
    color: #6a6c6f;
  }

  .time-value-part {
    text-align: center;

    button {
      border: none;
      background: rgba(0,0,0,0);
      border-radius: 0;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      color: #6a6c6f;
      outline: 0;
      padding: 8px 15px;
      margin-top: 22px;
      margin-left: 10px;

      &:hover {
        background: #f5f5f5;
      }
    }
  }
}

.timepicker-controlls-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  //border-top: 1px $calendar-border-color solid;
  overflow: hidden;
  padding-top: 5px;
  margin-top: 5px;
  max-height: 23px;
  transition: all 0.1s ease-out;

  button {
    border: none;
    outline: 0;
    width: 49%;
    color: #fff;
    background: rgb(39, 209, 112);
    transition: all 0.2s ease-in;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    cursor: pointer;

    &:hover {
      background: rgb(52, 172, 103);
    }

    &[type=reset] {
      background: rgb(218, 99, 84);

      &:hover {
        background: rgb(236, 124, 110);
      }
    }
  }
}

.fill-selected {
  position: absolute;
  top: 0;
  height: 100%;
  background: $selected-color;
  opacity: 0;
  z-index: 5;
}

.set-time {
  position: absolute;
  font-size: 17px;
  padding: 4px;
  border-radius: 50%;
  color: rgba(0,0,0,0.5);
  cursor: pointer;
  z-index: 30;
  top: 50%;
  margin-top: -10px;
  size: 23px;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &.opened {
    background: rgba(200,200,200,0.5);
  }

  &:hover {
    background: rgba(200,200,200,0.5);
  }

  .glyphicon {
    top: -2px;
    left: -1px;
  }
}

.dropdown-menu {
  display: block !important;
}
